/* .MainDash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 80px;
} */
.h1{

  margin-top: 4rem;
}
/* For tablets and small desktops */
@media screen and (max-width: 1200px) {
  .MainDash {
               /* Ensure flex is applied */    /* Stack children vertically */
    justify-content: flex-start;
       /* Center children horizontally */
    margin-top: 2rem;
                 /* Optional: add spacing between items */
  }
}

/* For mobile phones */
@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
    padding: 1rem;
  }
}
