
.Rightside {display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-evenly;
    padding: 1rem;
  background-color: #ffffff;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
    /* width: 300px;
  flex-shrink: 0;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #ccc; */
  overflow: hidden;
}

.top-user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.user-email {
  font-weight: bold;
  color: #333;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #1916b9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #1222b1;
}


@media screen and (max-width: 1200px) {
  .Rightside {
    justify-content: flex-start;
    margin-top: 3rem;
    width: 100%; /* ensure full width on smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .Rightside {
    width: 100%;
    align-items: center;
    margin-top: 1rem;
  }

  .Rightside > div {
    width: 90%;
  }
}

